body {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Existing styles... */

.input-field .consistent-date {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #343a40;
    display: inline-block;
    /* Add any additional styles to ensure consistency */
}


.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #454d55;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-field-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-field {
    margin-bottom: 10px;
    text-align: center;
    max-width: 100%;
}

.input-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
    text-align: left;
}

.input-field input {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #343a40;
    display: inline-block;
}
/* Existing styles... */

/* Adjust the date field size for iPhones or devices with similar widths */
@media screen and (max-width: 480px) {
    .input-field input[type="date"] {
        width: 90%;
        max-width: 250px; /* Adjust the maximum width as needed */
    }
}

.button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.calculate-button,
.save-button,
.new-entry-button,
.download-button {
    background-color: #28a745;
    color: #fff;
    margin: 5px;
}

.calculate-button:hover,
.save-button:hover,
.new-entry-button:hover,
.download-button:hover {
    background-color: #218838;
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.ledger-container {
    background-color: #454d55;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

.center {
    text-align: center;
}

.ledger-container .ledger-header {
    margin-bottom: 20px;
    font-size: 20px; /* Adjust the font size */
}

.ledger-container table {
    width: 100%;
    table-layout: fixed; /* Fix the table layout */
}

.ledger-container th,
.ledger-container td {
    width: 10%; /* Adjust the width as needed */
    font-size: 05px; /* Adjust the font size */
}

.ledger-container td.date,
.ledger-container td.casino {
    width: 15%; /* Adjust the width as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    border: 1px solid #ccc;
    font-size: 14px; /* Adjust the font size */
}

th {
    background-color: #007bff;
    color: #fff;
}

.undo-button {
    margin-right: 5px;
}

.undo-button,
.undo-button:hover {
    background-color: #dc3545;
}

.reset-button {
    float: right;
    margin-right: 5px;
    background-color: #dc3545;
    margin-top: 5px;
}

.reset-button:hover {
    background-color: #bb2d3b;
}

.donate-paragraph {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    max-width: 80%;
    margin: 20px auto;
}







